@font-face {
    font-family:"myFont";
    src: url("White On Black.ttf");
}

#white {font-family: "myFont";}

#Open {font-family: "Open Sans";} 
*{border: 3px solid orange;
padding: 25px;
margin: 23px;}